{
     "ListenAddress":":8066",
     "ThrottlePerSec":300,
     "ThrottleMemoryStoreSize":50000,
     "ThrottleVaryByHeader":"X-Forwarded-For",
     "AndroidPushSettings":[
       {
           "Type":"android",
           "AndroidApiKey":"{{ mattermost_push_proxy_AndroidApiKey }}"
       },
       {
           "Type":"android_rn",
           "AndroidApiKey":"{{ mattermost_push_proxy_AndroidApiKey }}"
       }
     ]

}